@font-face{
    font-family: monofett;
    src: url(fonts/Monofett-Regular.ttf);
}

@font-face{
    font-family: Mono2;
    src: url(fonts/mono_2/MonoRegular.ttf);
}

@font-face{
    font-family: Keyboard212;
    src: url(fonts/212_keyboard/212Keyboard.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Mono2, 'Menlo', sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; 
}

.container {
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
}

.left-nav {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 2.2rem;
    margin-top: 45px;
    position: fixed;
}

.left-nav ul {
    list-style-type: none;
    padding: 0;
}

.left-nav li {
    margin-bottom: 10px;
    :hover {
        color: #b3a2c1;
    }
}

.left-nav a {
    text-decoration: none;
    color: #312642;
}

.middle-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 220px; 
    margin-right: 320px; 
    background-color: #f0f0f0;
    height: 100vh;
    overflow-y: scroll; 
}

.middle-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: Keyboard212, sans-serif;
    color: #312642;
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    width: 80%; 
}

.project a {
    font-size: 1.8rem;
    color: #312642;
    text-decoration: none;
    text-align: center; 
}

.project a:hover {
    text-decoration: underline;
    color: #b3a2c1;
}

.project .tech-used {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: center; 
    color: #b3a2c1;
}

.project img {
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin-bottom: 5px;
    border-radius: 5px;
}

.project p {
    font-size: 1.1rem;
    color: #312642;
    text-align: center; 
    width: 100%;
    max-width: 600px; 
}

.right-content {
    width: 300px;
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    margin-top: 45px;
    margin-left: 15px;
}

.right-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #312642;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    font-size: 1.2rem;
    color: #312642;
    margin-bottom: 10px;
}
