

body {
    background-color: #191919;
    text-align: center;
    margin: auto;
    padding: 20% 0 6% 0;
    height: 100%;
    overflow: hidden;
    
}

.name {
    font-size: 400%;
    color: white;
    text-align: center;
    font-family: Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-weight: lighter;
    margin-bottom: -55px;
    
}

.name p {
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2.7s steps(30, end), blink 0.75s step-end infinite;
    white-space: nowrap;
    border-right: 2px solid white;
}

@keyframes typing {
    from {
      width: 0
    }
    to {
        width: 40%
    }
}

@keyframes blink {
    from{
        border-color: transparent
    }
    to{
        border-color: transparent
    }
    50%{
        border-color: white;
    }
}

.column{
    float: left;
    width: 33.3%;
    font-family: Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 375%;
    text-align: center;
    position: relative;
    

    background: -webkit-linear-gradient(
        40deg,
        #2d3cb7,
        #5137bb,
        #9b43cc,
        #5585da,
        #52aae5,
        #d677d7,
        #cc8ad7
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textglow 2.5s ease-in-out infinite alternate;
}


@keyframes textglow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.columns:after {
    content:"";
    display: table;
    clear:both;
}

a {
    text-decoration: none;
}

a:hover {
    text-transform: uppercase;
    font-style: italic;
    font-size: 112%;
}

